.tblContainer {
	margin: 50px 0;
}
h2 {
	font-size: 3.5rem;
    color: var(--infoColor);
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 50px;
}
table {
	width: 100%;
	table-layout: fixed;
}
.tblHeader {
	background-color: var(--contrastColor);
	border-radius: 15px 15px 0px 0px;
}
.tblContent {
	max-height: 800px;
	overflow-x: auto;
	border: 1px solid var(--tableBorder);
}

.btnsContainer {
	display: flex;
	justify-content: center;
	transform: translateX(5px);
}


th {
	padding: 20px 15px;
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
	color: var(--infoColor);
	text-transform: uppercase;
}


td {
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5rem;
	color: var(--infoColor);
	overflow-wrap: break-word;
    border-bottom: 1px solid var(--tableBorder);
}

td button {
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 0 5px;
    background-color: transparent;
    border: 1px solid var(--tableBorder);
    transition: border .4s ease;
    border-radius: 2px;
}

td button:first-of-type:hover {
    border: 1px solid var(--editColor);
}
td button:last-of-type:hover {
    border: 1px solid var(--errorColor);
}

td button:active {
    transform: scale(0.9);
}

/* modal*/

.modal {
	visibility:hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 100vw;
	height: 100vh;
	z-index: 2;
	background-color: rgba(30, 31, 20, 0.658);
}


.modal__Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
	width: 60%;
	height: 500px;
    background-color: var(--bgColor);
    border-radius: 15px;
}

.modal__Form input, select {
    width: 37vw;
}

.modal__Form select {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}


.modal__Form__btnsContainer {
    width: 30vw;
    display: flex;
    justify-content: space-around;
}

.modal__Form__btn {
    margin-top: 20px;
    width: 10vw;
    padding: 15px;
    background-color: var(--contrastColor);
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    transition: transform .2s ease-in;
}

.modal__Form__btn:hover {
    transform: scale(1.1);
}
.modal__Form__btn:active {
    transform: scale(.9);
}


.visbile {
	visibility: visible;
}