@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


:root {
  --gradient: linear-gradient(95deg, #213779ef 0%, #0c1f36 100%);
  --contrastColor: rgba(221, 224, 18, 0.897);
  --headlineColor: rgb(197, 79, 10);
  --tableBorder: rgba(170, 166, 166, 0.589);
  --infoColor: rgb(14, 22, 100);
  --editColor:rgb(38, 133, 38);
  --errorColor: rgb(223, 73, 73);
  --bgColor: rgb(237, 245, 245);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1350px;
  min-width: 340px;
}

