:root {
  --gradient: linear-gradient(95deg, #213779ef 0%, #7ea1cc 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

